@model IEnumerable<ITUE.Models.Material>

@{
    ViewBag.Title = "SentMaterials";
    Layout = "~/Views/Shared/_Account_Layout.cshtml";
}

<main>
    <nav class="mt-3" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Author/Index">Личный кабинет</a></li>
            <li class="breadcrumb-item active" aria-current="page">Отправленные материалы</li>
        </ol>
    </nav>

    @if (Model.Count() == 0)
    {
        <h4 class="my-5 text-center">Отправленных материалов нет</h4>
        <a href="/Author/Index" class="btn btn-info">Вернуться назад</a>
    }
    else
    {
        <br />
        <h3>Отправленные материалы</h3>
        <table class="table table-hover table-sm mt-4 shadow-sm rounded">
            <thead class="thead-light">
                <tr>
                    <th>Название публикации</th>
                    <th>Тип публикации</th>
                    <th>Рубрика публикации</th>
                    <th>Ключевые слова</th>
                    <th>Дата</th>
                    <th></th>
                </tr>
            </thead>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TitleRus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rubric)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KeywordsRus)
                    </td>
                    <td>
                        <p>@item.DatePublication</p>
                    </td>
                    <td>
                        @Html.ActionLink("Подробнее", "Details", new { id = item.Id }) <br />
                    </td>
                </tr>
            }
        </table>
    }
</main>