@model ITUE.Models.News

@{
    ViewBag.Title = "DetailsNews";
    Layout = "~/Views/Shared/_Account_Layout.cshtml";
}

<nav class="mt-3" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/MainEditor/Index">Личный кабинет</a></li>
        <li class="breadcrumb-item"><a href="/News/Index">Управление новостями</a></li>
        <li class="breadcrumb-item active" aria-current="page">Подробнее</li>
    </ol>
</nav>

<main class="container">
    <br />
    <h5>Название новости на русском языке</h5>
    <p>@Html.DisplayFor(m => m.TitleRus)</p>
    <h5>Текст новости на русском языке</h5>
    <p>@Html.DisplayFor(m => m.TextRus)</p>

    <hr />

    <h5>Название новости на английском языке</h5>
    <p>@Html.DisplayFor(m => m.TitleEng)</p>
    <h5>Текст новости на английском языке</h5>
    <p>@Html.DisplayFor(m => m.TextEng)</p>
    <br />
    <h5>Дата новости</h5>
    <p>@Html.DisplayFor(m => m.Date)</p>
    <br />
</main>